rules_version = '2';

service cloud.firestore {

  // Returns `true` if the user authored the resource
  function isOwner() {
    return request.auth != null && request.auth.uid == resource.data.userId;
  }

  match /databases/{database}/documents {

    match /dailyLessons/{id} {
      allow read, write: if isOwner();
    }

    match /schoolRecoveryLessons/{id} {
      allow read, write: if isOwner();
    }

    match /schools/{id} {
      allow read, write: if isOwner();
    }

    match /students/{id} {
      allow read, write: if isOwner();
    }

    match /weeklyLessons/{id} {
      allow read, write: if isOwner();
    }
  }

}