rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /dailyLessons/{userId}/userDailyLessons/{id} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /recoveryLessons/{userId}/userRecoveryLessons/{id} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /schools/{userId}/userSchools/{id} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /students/{userId}/userStudents/{id} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /weeklyLessons/{userId}/userWeeklyLessons/{id} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}